/* .container {
    max-width: 800px;
    margin: auto;
  }
  
  .AddBorder {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button-group {
    text-align: center;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
   */